@{
    ViewData["Title"] = "CUSTOMER SETUP";
}

@section pagedescription{
    <span class="title f24px">Customer Management Module</span>
}


<div class="card">
    <div class="card-body ">
        <div class="row">
            <div class="col-sm-12 col-md-2">
                <ul class="nav nav-pills nav-pills-danger nav-pills-icons flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#mode" role="tablist">
                            <i class="now-ui-icons business_bank"></i>
                            Mode of Identity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#type" role="tablist">
                            <i class="now-ui-icons business_briefcase-24"></i>
                            Account Type
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addkyc" role="tablist">
                            <i class="now-ui-icons business_money-coins"></i>
                            KYC Item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#addtitle" role="tablist">
                            <i class="now-ui-icons business_money-coins"></i>
                            Title
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#status" role="tablist">
                            <i class="now-ui-icons business_bulb-63"></i>
                            Marital-Status
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#industry" role="tablist">
                            <i class="now-ui-icons business_bulb-63"></i>
                            Industry
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#customfields" role="tablist">
                            <i class="now-ui-icons business_bulb-63"></i>
                            Customer Custom Field
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#customfieldsnew" role="tablist">
                            <i class="now-ui-icons business_bulb-63"></i>
                            Customer Custom Field New
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-10">
                <div class="tab-content">
                    <div class="tab-pane active" id="mode">
                        @Html.Partial("_AddModeOfId")
                    </div>
                    <div class="tab-pane" id="type">
                        @*@Html.Partial("_AddCustomerAccountType")*@
                        @Html.Partial("_AccountType")
                    </div>
                    <div class="tab-pane" id="addtitle">
                        @Html.Partial("_AddTitle")
                    </div>
                    <div class="tab-pane" id="addkyc">
                        @Html.Partial("_AddKycItem")
                    </div>
                    <div class="tab-pane" id="status">
                        @Html.Partial("_AddMaritalStatus")
                    </div>
                    <div class="tab-pane" id="industry">
                        @Html.Partial("_AddIndustry")
                    </div>
                    <div class="tab-pane" id="customfields">
                        @Html.Partial("_CustomerCustomFields")
                    </div>
                    <div class="tab-pane" id="customfieldsnew">
                        @Html.Partial("_CustomerCustomFieldsNew")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<environment include="Development">
    <script src="~/js/modules/accountType.js"></script>
    <script src="~/js/modules/kycitem.js"></script>
    <script src="~/js/modules/maritalstatus.js"></script>
    <script src="~/js/modules/modeofid.js"></script>
    <script src="~/js/modules/title.js"></script>
    <script src="~/js/modules/industry.js"></script>
    <script src="~/js/modules/sector.js"></script>
    <script src="~/js/modules/CustomFields.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/modules/accountType.min.js"></script>
    <script src="~/js/modules/kycitem.min.js"></script>
    <script src="~/js/modules/maritalstatus.min.js"></script>
    <script src="~/js/modules/modeofid.min.js"></script>
    <script src="~/js/modules/title.min.js"></script>
    <script src="~/js/modules/industry.min.js"></script>
    <script src="~/js/modules/sector.min.js"></script>
    <script src="~/js/modules/CustomFields.js"></script>
</environment>
}